body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #14161A;
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

a{
    color: white;
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 12px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: blueviolet;
}

@media(max-width: 680px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
